/* GLOBAL STYLES
-------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  body {
    background-color: #EDF2F4;
    padding-bottom: 40px;
    color: #2B2D42;
  }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
    width: auto;
  }

  .navbar-custom{
     color: #EF233C;;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    height: 500px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }



/* MARKETING CONTENT
-------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }


/* Featurettes
------------------------- */

  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 120px;
    }
  }

  .featurette-image{

      border: 2px solid #8D99AE;
  }

  .btn {
    background-color: #232121;
    border: #232121;
  }


/* CUSTOM CSS */

label{
  margin-top: 10px;
  text-align: center;
}
/* Modal Styles */
  .modal{
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      width: 40%; /* Full width */
      height: 100%; /* Full height */
      left: 32%;
      top: 32%;
  }

  .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  .modalform {
  text-align: center;
  }

  .pushright {
    margin-left: 11px;
  }
  #newdestmodal {
    top: 5%;
  }
/*  .pullleft {
    margin-left: -15px;
  }*/

/*Trip Page*/
  .tripcontainer {
    position: fixed;
    width: 80%;
    top: 20%;
    left: 9%;
    background-color: #2B2D42;
    padding: 15px;
    border-radius: 5px;
  }
  .tripitem{
    height: 10%;
    width: 95%;
    background-color: #8D99AE;
    border-radius: 5px;
    border: 2px solid #EDF2F4;
    padding: 15px;
    margin-bottom: 10px;
  }
  .tripclose {
    float: right;
    margin-right: -86%;
  }
  .tripexpand {
    float: right;
    margin-top: 5%;
    margin-left: 85%;
  }
  .tripname {
    color: #EDF2F4;
    font-family: 'Crushed', cursive;
    margin-top: -5px;
  }
  .tripdescrip {
    font-family: 'Cuprum', sans-serif;
    margin-left: 50px;
  }
  .destdrop {
    border: 2px solid #EDF2F4;
    position: relative;
    border-radius: 5px;
    margin-top: 15px;
    height: 50px;
    background-color: #EF233C;
  }
  #placeholderdest{
    margin-left: 50px;
    line-height: 50px;
  }
  .opennewdest{
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 3%;
  }
/*Fonts*/
  font-family: 'PT Sans', sans-serif;
  font-family: 'Cuprum', sans-serif;
  font-family: 'Crushed', cursive;